@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Contact Me Font Below */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.contactmehere {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
}
.contactmehere h2 {
    font-family: 'Rubik', sans-serif;
    /* color: #d3a4a4; */
}
.flexform {
    margin: 0px 150px;
    padding: 50px 200px 30px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}
.flexform label {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
.flexform input {
    width: 100%;
    height: auto;
    min-height: 44px;
    border: none;
}
.flexform textarea {
    border: none;
}
.m30px {
    margin-bottom: 30px;
}
.flexdown {
    display: flex;
    flex-direction: column;
}
.subbtn button {
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
}
.subform {
    background-color: rgb(41, 93, 134);
    border: none;
    color: white;
}